@import "../../scss/themes";

:host { 
	display: flex;
	flex-flow: column;
	padding: 0 16px;
	div { 
		margin: 36px 0;
	} 
	.image-and-quote { 
		display: flex;
		img { 
			border-radius: 50%;
			margin-right: 24px;
			width: 200px;
			height: 200px;
			align-self: center;		
		}
		.quote { 
			font-size: 28px;
			font-style: italic;
			color: $gray-5;
			align-self: center;
		}
		@include media-breakpoint-down(xs) { 
			img { 
				margin-right: 0; 
				margin-bottom: 24px;
			}
			flex-flow: row wrap;
			justify-content: center;
			text-align: center;
		}
	}
}