<div class="standard-margin">
	<h2>About</h2>
	<app-spacer class="w-50"></app-spacer>
	<div class="image-and-quote">
		<div class="box-200">
			<img src="/assets/mug-shot.jpeg" alt="david" align="left">
		</div>
		<p class="quote">
			"I love software, N.Y. style bagels, and wearing hats. I am constantly striving to improve who I am as a person, a
			husband, and a developer."
		</p>
	</div>
</div>

<div class="standard-margin">
	<h2>Passion for Technology</h2>
	<app-spacer class="w-50"></app-spacer>
	<p>
		I am so thankful that I have the opportunity to be a software developer. I am always trying to learn new technologies
		while growing in the technologies I already know. I enjoy working in a Agile Team environment because I love learning from
		and teaching others. I believe that I can always learn something from anyone regardless of what my skill level is. I
		thoroughly enjoy writing meaningful applications that are created with user experience at the forefront of design and
		development.
	</p>
</div>

<div class="standard-margin">
	<h2>My Software Journey</h2>
	<app-spacer class="w-50"></app-spacer>
	<p>
		My first experience with development was data manipulation and SQL. Ever since then, I am always looking to learn
		more about backend development and database structures. In conjunction with backend development, I have grown to
		really love writing user interfaces that are intuitive and enjoyable to use. I have such an appreciate for
		applications with quality design and good user experience.
	</p>
</div>

<div class="standard-margin">
	<h2>Professional Goals</h2>
	<app-spacer class="w-50"></app-spacer>
	<p>
		My goals are to truly master data structures and code design in all areas of my development. I love learning new
		technologies, frameworks, and programming languages. Having expertise in data structures and code design helps reduce
		my learning curve when I get time to pick up something new. It will also help me in my goal to write quality, testable code.
	</p>
	<p class="mt-3">
		I also want to become an expert in one or two programming languages which is why I am currently working towards my Java certifications through Oracle. Having a solid understanding of an Object Oriented Programming (OOP) language will translate to any coding language I use.
	</p>
</div>