<div>
	<img src="/assets/mug-shot.jpeg" alt="david" align="left">
	<p class="quote">
		I love software, trying new restaurants, and wearing hats. I am always eager to learn and grow personally, relationally, and professionally.
	</p>
</div>

<div>
	<h2>About</h2>
	<p>
		I am so thankful that I have the opportunity to be a software developer! I love learning new technologies while
		growing in the technologies I already have experience in. I have a great appreciation for testable, quality code. I
		love writing meaningful applications that are created with user experience at the forefront of design and
		development.
	</p>
</div>

<div>
	<h2>Love of Technology</h2>
	<p>
		I love well structured data. My first experience with development was data manipulation and SQL. Ever since
		then, I am always looking to learn more about backend development of RESTful APIs and database structures. In
		conjunction with backend development, I have grown to love writing user facing applications that are intuitive and
		enjoyable to use. I have such an appreciate for applications with quality design and good user experience.
	</p>
</div>

<div>
	<h2>Goals</h2>
	<p>
		A few professional goals that I have are to become an expert in one or two programming languages, master data
		structures, always use good code design, and constantly be learning something new. I believe having an overall
		expertise in data structures and code design will reduce the learning curve for me to start writing quality code in
		new technologies.
	</p>
</div>