@import "../../scss/themes";
@import "../../scss/mixins";

:host { 
	display: flex;
	flex-flow: column;
	@include mobile-padding();

	.image-and-quote { 
		display: flex;
		.box-200 { 
			width: 200px;
			height: 200px;
			margin: 0;
			flex: 0 0 200px;
			align-self: center;		
			margin-right: 24px;
		}
		img { 
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
		.quote { 
			font-size: 28px;
			font-style: italic;
			color: $gray-5;
			align-self: center;
		}

		/* extra-small mobile devices to stack img and quote */
		@include media-breakpoint-down(xs) { 
			.box-200 { 
				margin-right: 0; 
				margin-bottom: 24px;
			}
			flex-flow: row wrap;
			justify-content: center;
			text-align: center;
		}
	}
}