@import "../../scss/themes";

:host { 
	display: flex;
	flex-direction: column;
	padding: 0 16px;
	img { 
		border-radius: 50%;
		margin-right: 24px;
		width: auto;
		height: auto;
	}
	div { 
		margin-top: 36px;
	} 
	.quote { 
		font-size: 24px;
		font-style: italic;
		color: $gray-5;
		align-self: center;
	}
}