@import "../../../../scss/themes";

:host { 
	/* nav-bar */
	height: $navbar-height;
	width: 100%;
	background-color: $primary;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $white;

	/* links */
	a { 
		color: $gray-3;
		font-size: 18px;
		font-weight: $bold;
		padding: 0 16px;
		line-height: auto;
		&.active, &:hover { 
			color: $white;
			text-decoration: none;
		}
	}

	/* hamburger menu */
	.fa-custom { font-size: 1.6rem;	}
	.hamburger { 
		border: 1px solid $gray-3;
		margin: 0 16px;
		padding: 9px 12px 6px;
		color: $gray-3;
		&:hover { 
			cursor: pointer;
			color: $white;
			border: 1px solid $white;
		}
	}

	/* dropdown-menu options */
	.dropdown-options { 
		height: 0;
		display: none;

		&.show { 
			display: block;
			position: absolute;
			min-width: 184px;
			width: auto;
			height: auto;
			background-color: $white;
			border: 1px solid $gray-3;
			right: 16px;
			padding: 16px;
			& > a { 
				color: $primary;
				display: block; 
				padding: 8px 16px;
				&.active, &:hover { 
					color: $gray-5;
				}
			}
		}
	}

	/* brand */
	.brand { 
		color: $white;
		font-weight: $bold;
		font-size: 28px;
		padding: 0 16px;
		a.brand { padding: 0; }
		div.smaller-text { 
			display: block;
			font-size: 20px;
			div.separator { 
				display: none;
			}
		}
		/* desktop brand styles */
		@media only screen and (min-width: 930px) { 
			div.smaller-text { 
				display: inline;
				div.separator { 
					display: inline;
					padding: 0 .5rem;
				}
			}
		}
	}


}