@import "../../../../scss/themes";
@import "../../../../scss/mixins";

$navbar-height: 86px;

:host {
  font-weight: $bold;
  div.nav-container {
		background-color: $primary;
    width: 100%;
  }
  a, a.navbar-brand {
    color: $gray-2	  ;
    cursor: pointer;
    &:hover,
    &.active {
      color: $white;
    }
	}
  .navbar-brand,
  .navbar-nav li a {
    font-size: 24px;
    line-height: $navbar-height;
    height: $navbar-height;
    padding-top: 0;
  }
  .nav-item {
    font-size: 18px;
  }
  .navbar-dark .navbar-toggler {
    border-color: $gray-2;
  }
}
