<div class="brand">
	<a class="brand" [routerLink]="['/']">
		<span class="d-inline d-sm-none">D. Houseknecht</span>
		<span class="d-none d-sm-inline">David Houseknecht</span>
		<div class="smaller-text">
			<div class="separator">|</div>Software Developer
		</div>
	</a>
</div>
<div>
	<div class="d-block d-md-none">
		<div #dropdownHamburger class="hamburger" (click)="collapsed = !collapsed">
			<i class="fa fa-bars fa-custom" aria-hidden="true"></i>
		</div>
		<div #dropdownOptions class="dropdown-options" [ngClass]="{show: !collapsed}">
			<ng-container *ngTemplateOutlet="navOptions"></ng-container>
		</div>
	</div>

	<div class="d-none d-md-block">
		<ng-container *ngTemplateOutlet="navOptions"></ng-container>
	</div>
</div>

<ng-template #navOptions>
	<a [routerLink]="['/about']" routerLinkActive="active" (click)="collapsed = true">About</a>
	<a [routerLink]="['/resume']" routerLinkActive="active" (click)="collapsed = true">Resume</a>
	<a [routerLink]="['/contact']" routerLinkActive="active" (click)="collapsed = true">Contact</a>
	<a href="https://www.linkedin.com/in/david-houseknecht/" target="_blank" (click)="collapsed = true"><i class="fa fa-linkedin fa-lg"></i></a>
	<a href="https://github.com/djhouseknecht" target="_blank" (click)="collapsed = true"><i class="fa fa-github fa-lg"></i></a>
</ng-template>
