@import "../../scss/themes";
@import "../../scss/mixins";

:host { 
	height: 100%;
	display: flex;
	flex-direction: column;
	div.contact-content { 
		@include mobile-padding();
	} 
	iframe { 
		min-height: 650px;
		padding: 0 16px;
		width: 100%;
		@include media-breakpoint-down(xs) { 
			padding: 0;
		}
	}
}