@import "../../scss/themes";

:host { 
	height: 100%;
	display: flex;
	flex-direction: column;
	div.contact-content { 
		padding: 0 16px;
		margin-top: 24px;
	} 
	iframe { 
		min-height: 650px;
		margin-top: 16px;
		padding: 0 16px;
		width: 100%;
		@include media-breakpoint-down(xs) { 
			padding: 0;
		}
	}
}