<div class="contact-content">
	<h2 class="underline">Contact</h2>
	<div class="separator"></div>
	I would love to hear from you about any possible opportunities or even just to chat. I love talking software! Drop me an email or fill out the contact form. Thanks! 
	<div class="my-3">
		<a class="px-3" href="mailto:david.j.houseknecht@gmail.com" target="_blank"><i class="fa fa-envelope "></i></a>
		<a href="mailto:david.j.houseknecht@gmail.com" target="_blank">david.j.houseknecht@gmail.com</a>
	</div>
</div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdfx9oII9W-CQq4Ufdn83eP3BAUEn25jeyBaTf7ODYbc0_UcQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
