<footer>
	<div class="footer-content">
		<a class="px-3" href="mailto:david.j.houseknecht@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
		<a class="px-3" href="https://www.linkedin.com/in/david-houseknecht/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
		<a class="px-3" href="https://github.com/djhouseknecht" target="_blank"><i class="fa fa-github fa-2x"></i></a>
		<div class="pt-3">
			&copy; {{today | date:'yyyy'}} | David Houseknecht
		</div>
	</div>
</footer>