@import "../../../../scss/themes";
@import "../../../../scss/mixins";

:host { 
	footer { 
		background-color: $gray-0;
		border-top: 1px solid $gray-2;
		width: 100%;
		padding: 60px 0;
		margin-top: 24px;
	}
	div.footer-content { 
		@include custom-flex-display();
		padding: 0 16px;
		text-align: center;
	}
	.extra-x-padding { 
		padding-right: 1.8rem;
		padding-left: 1.8rem;
	}
	.bars { 
		border-left: 1px solid $gray-5;
		border-right: 1px solid $gray-5;
	}
}