<footer>
	<div class="footer-content">
		<a class="extra-x-padding" href="mailto:david.j.houseknecht@gmail.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
		<a class="extra-x-padding bars" href="https://www.linkedin.com/in/david-houseknecht/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
		<a class="extra-x-padding" href="https://github.com/djhouseknecht" target="_blank"><i class="fa fa-github fa-2x"></i></a>
		
		<div class="pt-3">
			&copy; {{today | date:'yyyy'}} | David Houseknecht
		</div>

		<div class="pt-3">
			Built using <a href="https://angular.io/" target="_blank">Angular</a> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
		</div>
	</div>
</footer>