<div class="nav-container">

  <nav class="navbar navbar-expand-md navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">David Houseknecht</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-0 text-right" id="navbarSupportedContent">
      <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
      <a class="nav-item nav-link" [routerLink]="['/resume']" routerLinkActive="active">Resume</a>
      <a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/david-houseknecht-a620a3140/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
      <a class="nav-item nav-link" href="https://github.com/djhouseknecht" target="_blank"><i class="fa fa-github fa-lg"></i></a>
    </div>
  </nav>

</div>
