<div class="standard-margin resume-download">
	<h2>Resume</h2>
	<app-spacer class="w-50"></app-spacer>
	<div>
		Download my resume, check out my professional highlights and experience, and see what skills I would love to learn!
	</div>
	<a href="/assets/David Houseknecht Resume (2.10.19).pdf" target="_blank" class="btn btn-primary font-weight-bold">Download
		Resume</a>
	<div>
		You can learn more about the projects I have worked on by going to my <a href="https://www.linkedin.com/in/david-houseknecht/"
		 target="_blank" class="font-weight-bold">LinkedIn</a>
		and scrolling to the <i>Accomplishments</i> section.
	</div>
	<div class="mt-3">
		Feel free to check out my <a href="https://www.github.com/djhouseknecht" target="_blank" class="font-weight-bold">Github</a>
		account as well. It isn't as verbose as I would like. I have a few project ideas floating around in my head, but I
		just haven't had the time to start them.
	</div>
</div>

<div class="standard-margin">
	<h2>Professional Highlights</h2>
	<app-spacer class="w-50"></app-spacer>
	Here are some of my highlights, achievements, and strengths:
	<ul>
		<li>
			Develop <strong>RESTful APIs</strong> to be consumed by a web client via HTTP
		</li>
		<li>
			Write <strong>User Interfaces (UI)</strong> using <strong>Single Page Applications (SPAs)</strong> to consume data
			from RESTful APIs
		</li>
		<li>
			Passionate about <strong>User Experience (UX)</strong> when developing applications
		</li>
		<li>
			Implement <strong>Continuous Integration and Continuous Deployment (CI/CD)</strong> through comprehensive build
			plans and
			pipelines
		</li>
		<li>
			Currently working towards my <strong>Java Programmer I certification</strong> through Oracle
		</li>
		<li>
			Have experience using <strong>Docker</strong> containers to build and test applications’ code base
		</li>
		<li>
			Work in an <strong>Agile Team</strong> environment with consistent collaboration and learning from each other
		</li>
		<li>
			Wrote a <strong>dynamic, custom search function</strong> that spanned across multiple tables and used weights and
			hits to
			determine the most relevant results
		</li>
	</ul>
</div>

<div class="standard-margin">
	<h2>My Technology Stack</h2>
	<app-spacer class="w-50"></app-spacer>
	These are some technologies that I use on a regular basis:
	<ul>
		<li>
			<strong><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a></strong> with
			specializations in the <strong><a href="https://angular.io/" target="_blank">Angular</a></strong> and <strong><a
				 href="https://aurelia.io/" target="_blank">Aurelia</a></strong> frameworks
		</li>
		<li>
			<strong><a href="https://en.wikipedia.org/wiki/Java" target="_blank">Java</a></strong> and the <strong><a href="https://spring.io/"
				 target="_blank">Java Spring</a></strong> framework for writing RESTful APIs
		</li>
		<li>
			<strong><a href="https://en.wikipedia.org/wiki/PHP" target="_blank">PHP</a></strong> and the <strong><a href="https://laravel.com/"
				 target="_blank">Laravel</a></strong> framework for writing RESTful APIs
		</li>
		<li>
			<strong><a href="https://en.wikipedia.org/wiki/PL/SQL" target="_blank">PL/SQL</a></strong> and <strong><a href="https://en.wikipedia.org/wiki/MySQL"
				 target="_blank">MySQL</a></strong> databases
		</li>
		<li>
			<strong><a href="https://docs.docker.com/" target="_blank">Docker</a></strong> containers
		</li>
		<li>
			<strong><a href="https://rxjs.dev/" target="_blank">RxJS</a></strong> library for handling <strong>asynchronous</strong> JavaScript code
		</li>
		<li>
			<strong><a href="https://jasmine.github.io/" target="_blank">Jasmine</a></strong> framework for <strong>unit testing</strong> JavaScript code
		</li>
		<li>
			<strong><a href="https://en.wikipedia.org/wiki/HTML5" target="_blank">HTML</a></strong>, <strong><a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"
				 target="_blank">CSS</a></strong>, and the <strong><a href="https://sass-lang.com/" target="_blank">SCSS</a></strong>
			preprocessor to create mobile responsive web applications
		</li>
		<li>
			<strong><a href="https://www.atlassian.com/software/bamboo" target="_blank">Bamboo</a></strong> build plans
		</li>
		<li>
			Working knowledge of the <strong><a href="https://www.openshift.com/" target="_blank">OpenShift</a></strong>
			deployment platform
		</li>
		<li>
			<strong><a href="https://git-scm.com/" target="_blank">Git</a></strong> command line client
		</li>
		<li>
			<strong><a href="https://www.ubuntu.com/" target="_blank">Ubuntu</a></strong> flavor of the <strong>Linux</strong>
			operating system
		</li>
	</ul>
</div>

<div class="standard-margin">
	<h2>Skills I Want To Learn</h2>
	<app-spacer class="w-50"></app-spacer>
	A few skills I would really like to learn more about are:
	<ul>
		<li>
			<strong>Swift and iOS Development:</strong> I have always wanted to get into mobile development, and I enjoy using
			my iPhone. Also, my experience in frontend development has given me a great appreciation for user experience (UX).
		</li>
		<li>
			<strong>Node.js:</strong> I am familiar with JavaScript and backend development. I would really enjoy getting to
			develop backends using Node.
		</li>
		<li>
			<strong>DevOps:</strong> I currently use Docker, Atlassian’s Bamboo build server, and RedHat’s OpenShift deployment
			platform to write build plans that test and deploy applications. I want to have a deeper understanding of DevOps by
			fine tuning my skills of servers and deployment processes.
		</li>
		<li>
			<strong>NoSQL Data Structures:</strong> I have worked with Google’s Firebase platform a little bit for a school
			project. I
			think NoSQL schemas are really powerful. I think learning more about NoSQL data structures would be extremely fun
			experience.
		</li>
		<li>
			<strong>More Testing:</strong> I have a pretty solid grasp on testing right now as I currently write unit tests for
			any code I develop. I want to dive more into all the aspects of testing like: end-to-end testing, integration
			testing, and loading testing.
		</li>
	</ul>
	I am always eager to learn about new technologies. However, I also really enjoy solidifying my knowledge and skill of
	technologies I already have experience in. I believe a developer always has something new to learn regardless of their
	experience level.
</div>