@import "../../scss/themes";
@import "../../scss/mixins";

:host { 
	display: flex;
	flex-direction: column;
	@include mobile-padding();

	.nav-menu { 
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		/* desktop styles */ 
		@include media-breakpoint-up(md) { 
			align-items: stretch;
			flex-direction: row;
			justify-content: space-evenly;
		}

		& > a.item { 
			justify-self: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			min-width: 290px;
			width: 75%;
			max-width: 450px;
			@include media-breakpoint-up(sm) { min-width: 0; }
			padding: 1.5rem .75rem;
			margin: .25rem;
			
			border: 2px solid $gray-4;
			
			text-align: center;
			text-decoration: none;
			font-style: italic;
			color: $gray-4;
			font-size: 18px;

			i, img { 
				color: $primary;
				margin: .5rem;
			}
		}
	}
	.carousel-caption { 
		h5 { 
			font-weight: $gray-2;
			text-shadow: 
				-1px -1px 0 $gray-5,
				1px -1px 0 $gray-5,
				-1px 1px 0 $gray-5,
				1px 1px 0 $gray-5;
		}
	}
}